/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: inline-block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

* {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
}

.container {
	width: 900px;
	margin: 0 auto;
}
title {
	display: none;
}
h4{
	margin-top: 25px;
}
header {
	border-bottom: 2px gray solid;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
}

header nav {
	word-spacing: 45px;
	display: inline-block;
	margin: 0px 50px 50px 50px;
	vertical-align: text-top;
}

header nav a{
	color: gray;
	text-decoration: none;
	padding: 5px;
}

header nav a:hover {
	background-color: royalblue;
	color: white;
}

header .logo {
	margin-top: 20px;
}

.content .slogan {
	font-family: Bangers, cursive;
	font-size: 55px;
	text-align: center;
	width: 500px;
	display: inline-block;
	margin-bottom: 100px;
	vertical-align: center;
}
.content .slogan button {
	font-size: 12px;
	padding: 6px 28px;
	background: transparent;
	border: 1px black solid;
}
.content .slogan button:hover {
	background-color: royalblue;
	color: white;
}
.code {
	margin-top: 20px;
	margin-bottom: -100px;
}
.block1 {
	width: 425px;
	display: inline-block;
	margin-right: 20px;
}
.content img {
	margin-top: 30px;
}
.block2 {
	width: 275px;
	display: inline-block;
	margin-right: 20px;
}
.block2_end {
	width: 275px;
	display: inline-block;
}


footer {
	width: 900px;
	margin-top: 40px;
	padding-top: 30px;
	border-top: 1px gray solid;
}

footer .footer_info {
	margin-top: 20px;
}

footer .copy {
	text-align: center;
	margin-top: 40px;
}